/* Centering the content */
.content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding-top: 60px; /* Add top padding to make room for the fixed navbar */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10px auto;
}

h2 {
    color: #066BA3;
    margin-top: 0%;
    text-align: center;
}

/* Centering the table and making it more readable */
table {
    margin: 10px auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #066BA3;
    color: white;
}

td, th {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Responsive table */
@media (max-width: 768px) {
    table {
        width: 100%;
    }
    th, td {
        padding: 10px;
        font-size: 14px;
    }
}

/* Flash messages styling */
.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
}

.flashes li.success {
    background-color: #d4edda;
    color: #155724;
}

/* Pagination styles */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    padding: 10px 15px;
    text-decoration: none;
    background-color: #066BA3;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.pagination a:hover {
    background-color: #055082;
}