<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href='/static/style.css'>
    <link rel="stylesheet" href='/static/form.css'>
    <link rel="stylesheet" href='/static/base.css'>
    <link rel="stylesheet" href='/static/add.css'>
    <link rel="stylesheet" href='/static/search.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <ul>
                <li><a href="{{ url_for('students.home') }}">Student</a></li>
                <li><a href="{{ url_for('college.college') }}">College</a></li>
                <li><a href="{{ url_for('course.course') }}">Course</a></li>
                <li>
                    <div class="search-form">
                      <form action="{{ url_for('students.search_student') }}" method="GET">
                          <input id="globalSearch" type="text" name="query" placeholder="Search students..." value="{{ query if query else '' }}">
                          <button type="submit">Search</button>
                          {% if query %}
                              <a href="{{ url_for('students.home') }}" class="btn-clear">Clear Search</a>
                          {% endif %}
                      </form>
                  </div>
                </li>
        </ul>
    </nav>
    
    <div class="content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
